/* typography */
body {
    font-family: 'Montserrat';
    font-size:16px;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3{
    font-size: 30px;
    font-weight: 300;
   
}

nav{
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    width: 30%;
    box-align: center;
}

.italic {
    font-style: italic;
}







.logo {
    position: static;
    align-items: baseline;
    padding-top: 100px;

}

#container{
    width: 1280px;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}



  .menu {
    padding: 0px 100px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    color: white;
}

.nav-list__item {
    display: inline-block;
}

.nav-list__item--title {
    text-align: center;
    font-weight : 700;
    font-size: 24px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-align: right;
}

.nav-link:hover {
    color: darkorange;
    text-decoration: underline;
}



    