/* typography */
body {
    font-family: 'Montserrat';
    font-size:20px;
}

h1 {
    font-size: 60px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

h3{
    font-size: 33px;
    font-weight: 300;
   
}

nav{
    font-size: 21px;
    font-weight: 400;
    padding: 20px;
    margin: 0;
}

p{
    font-size: 18px;
    font-weight: 400;
    width: 30%;
    box-align: center;
}

.italic {
    font-style: italic;
}







.logo {
    position: static;
    align-items: baseline;
    padding-top: 100px;

}

#container{
    width: 1280px;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}

.nav{
    display: flex;
    float:right;
    list-style-type: none;
    align-items: center;
}

.nav li {
    display: inline-block;
    padding: 5px;

  }



