/* typography */
body {
    font-family: 'Verdana';
    font-size:16px;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;

}

h3{
    font-size: 30px;
    font-weight: 600;
    
   
}

nav{
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    margin: 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    width: 30%;
    box-align: center;
}

.italic {
    font-style: italic;
}







.logo {
    width:200px;

}

#container{
    width: 1280px;
    max-width: 1280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}



.header-bg{
    background-color: #fff;
    width: 1280px;
    z-index: 1;
    position: fixed;
    top:0;
    
}


  .menu {
    padding: 0px 100px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    color: white;
    
}

.nav-list__item {
    display: inline-block;
}

.nav-list__item--title {
    text-align: center;
    font-weight : 700;
    font-size: 24px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    text-align: right;
}

.nav-link:hover {
   
    border-bottom:3px solid #DB7A4E;
}
.nav-link:active {
   
    border-bottom:3px solid #DB7A4E;
}

.link-active-page{

    border-bottom:3px solid #DB7A4E;
}



#footer{
    background-color: #fef9f5;
    padding: 0px 125px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: baseline;
    
  

}

#footer-ln2{
    background-color: #FEFAF5;
    padding: 0px 125px 40px 125px;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items:bottom;
    vertical-align: top;
    margin-top: 0px;

}
.box-footer{
    width: 20%;
    margin: 0px 20px 0px 20px;
    vertical-align: bottom;
    color: #335576; 
    text-align: left;
    align-items: baseline;
    
    
}



.icon{
    
    padding-left: 10px;
    min-height: 25px;
    max-height: 25px;
    vertical-align: bottom;
    
    }

.footer-sub{
    font-size: 12px;
    font-weight: 300;
    color:#DB7A4E;
    margin: 0;
    padding: 0;

}

.align{

    position: relative;
    align-items: baseline;
    vertical-align: baseline;
}


    