.hero {
    background-color: #fef9f5;
    height: 475px;
    width: 100%;
    display: flex;

}

.hero-content {
    display: flexbox;
    text-align: left;
    padding: 100px 100px 200px 100px;
}

.hero-content__title {
    
    font-weight: bold;
    color: #284a69;
   
    
    
}

.hero-content__text {
    color: #284a69;
    margin: 20px 0;
    font-size: 16px;
}

.hero-image{
    
   position: relative;
    margin: 50px 100px 200px 100px;
    max-width: 423px;
}

.hero-button{
    border-radius: 25px;
    background-color: #de6f4a;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 15px;
    text-decoration: none;

}

.gallery {
    position: relative;
    display: flex;
    
    

}

.gallery__item {
    padding: 200px 100px;
   
    

    
}

.photo-1 {
    position: relative;
    display: inline-block;
    background: url('/assets/images/hawaii.jpg');
    
}

.photo-2 {

    position: relative;
    display: inline-block;
    height: 400px;
    
}

.photo-3 {
    position: relative;
    display: inline-block;
    height: 400px;
}
    